.categories {
  background-color: rgb(255, 255, 255);
  box-shadow: var(--shadow-1);

  height: 60px;
  padding-inline: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container {
  display: flex;
  align-items: center;

  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.slider-control {
  background-color: #fff;
  box-shadow: 4px 3px 5px 4px rgba(255, 255, 255, 0.99);

  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  z-index: 30;

  &:first-child {
    left: 10px;
  }
  &:last-child {
    right: 10px;
  }

  button {
    width: 20px;
    height: 20px;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: var(--white-2);
  }
}

.slider {
  flex: 1 1 auto;
  display: flex;
  gap: 0.5rem;
}

.slide {
  flex: 0 0 auto;

  border: 1px solid rgb(210, 210, 210);
  border-radius: 13px;
  padding: 4px 14px;

  font-size: 0.8rem;
  color: rgb(84, 84, 84);
  font-weight: 500;
}

.slide--selected {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
}

.slide--selected::after {
  content: "\2713";
  display: inline-block;
  margin-inline-start: 8px;
}
