.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  .empty__icon {
    width: 100px;
  }

  p {
    color: var(--gray-1);
    font-weight: 700;
  }
}
